body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

.header-mobile {
	width: 100%;
	display: flex;
	position: sticky;
	top: 0px;
	background-color: white;
	z-index: 1;
	justify-content: space-between;
}

.compra {
	margin-right: 10px;
}

.div-buttons {
	display: flex;
	padding-left: 20px;
}

.img2 {
	margin-left: 10px;
}

.div-buttons button{
	border: none;
	color: white;
	background-color: white;
	cursor: pointer;
}

#title-responsive {
	display: flex;
	font-family: dancing script;
	justify-content: center;
	width: 190px;
}

.compra {
	padding-top: 30px;
	margin-left: 20px;
}

.compra button {
	display: flex;
	height: 30px;
	width: 30px;
	cursor: pointer;
	border: none;
	background-color: white;
}

.compra img {
	height: 25px;
	width: 25px;
}

main {
	width: 100%;
	box-sizing: border-box;
	overflow-x: none;
}

.front {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	position: relative;
}

.front img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.front h2 {
	position: absolute;
	display: flex;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
	font-weight: bold;
	align-items: center;
	margin: 0;
}

.scroll-div {
	height: 50px;
	font-size: 20px;
	align-items: center;
	display: flex;
	margin: 20px 0px 20px 0px;
	overflow-x: scroll;
	padding: 10px;
}

.scroll-div a {
	text-decoration: none;
	color: black;
	margin: 0px 20px;
	overflow-y: none;
}

#new {
	font-family: 'Merriweather', serif;
	text-align: center;
	border-bottom: 1px solid black;
	width: 50%;
	margin: auto;
	height: 30px;
}

.container {
	display: flex;
	height: 420px;
	width: 100%;
	flex-direction: row;
	overflow-x: scroll;
}

.container-photo {
	display: flex;
	height: 400px;
	width: 250px;
	border-radius: 10px;
	flex-direction: column;
	box-sizing: border-box;
	margin: 10px;
}

.container-photo p {
	font-size: 20px;
	font-family: oswald;
	margin: 5px 0px;
}

.container-photo:first-child {
	margin-top: 11px;
}

section {
	height: 300px;
	width: 200px;
	border-radius: 10px;
	box-sizing: border-box;
}

section img {
	height: 300px;
	width: 200px;
	object-fit: cover;
}

.present {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 400px 400px;
	box-sizing: border-box;
	align-items: center;
}

span {
	display: flex;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

span img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.present-front {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: absolute;
	text-align: center;
	color: white;
	font-family: alkatra;
	font-size: 20px;
}

.offers {
	padding-top: 100px;
	width: 100%;
	background-color: black;
	height: 200px;
	text-align: center;
	color: white;
	font-size: 16px;
}

.offers a {
	color: white;
}

.iframe-div {
	width: 100%;
	height: 870px;
	display: flex;
	justify-content: center;
}

.iframe-div iframe {
	width: 100%;
	height: 100%;
	border: none;
	overflow: none;
	overflow: hidden;
}

.header-desktop {
	display: none;
}

.desktop__main {
	display: none;
}

#footer2 {
	display: none;
}

form {
	display: none;
}

footer {
	background-color: rgb(40, 40, 40);
	color: white;
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.footer-div {
	width: 80%;
	text-align: center;
	align-items: center;
	display: flex;
}

footer a {
	color: white;
	margin: 20px 0px;
}

@media (min-width: 420px) and (max-width: 1200px) {
	header {
		justify-content: space-between;
	}
	.compra {
		margin-right: 10px;
	}
	.front h2 {
		height: 100%;
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	#new {
		margin-bottom: 20px;
	}
	.present {
		grid-template-rows: 700px 700px;
	}
	.present-front {
		font-size: 30px;
	}
	.offers {
		font-size: 25px;
		display: flex;
		height: 300px;
		align-items: center;
		flex-direction: column;
	}
	.iframe-div {
		height: 1200px;
	}
	.footer-div {
		justify-content: space-between;
	}
}

@media (min-width: 1200px) {


	.header-mobile {
		display: none;
	}

	.header-desktop {
		width: 80%;
		margin: auto;
		display: flex;
		position: sticky;
		top: 0px;
		background-color: white;
		z-index: 1;
		align-items: center;
		padding: 0px 100px;
		justify-content: space-between;
}

	input {
		width: 250px;
		height: 30px;
		border: none;
		border-bottom: 1px solid;
		font-family: sans-serif;
	}

	#title-responsive{
		font-size: 20px;
	}
	
	.header__desktop-a a{
		text-decoration: none;
		color: black;
		font-size: 20px;
		margin: 0px 20px;
		padding: 10px;
		transition: all 1s;
	}

	.header__desktop-a a:hover {
		border-bottom: 1px solid black;
	}

	.ul__desktop {
		display: flex;
		list-style: none;
		justify-content: center;
	}

	.ul__desktop li a{
		text-decoration: none;
		margin: 0px 30px;
		color: black;
		font-size: 18px;
	}

	.ul__desktop li a:hover {
		color: violet;
	}

	.ul__desktop li:hover{
		transform: scale(1.3);
		transition: all .3s;
	}

	.desktop__main {
		display: block;
	}

	#footer2 {
		display: block;
	}

	.front {
		display: none;
	}

	.scroll-div {
		display: none;
	}

	#new {
		display: none;
	}
	.container {
		display: none;
	}
	.present {
		display: none;
	}

	.offers{
		display: none;
	}
	.iframe-div {
		display: none;
	}
	#footer1 {
		display: none;
	}

	.desktop__main-span {
		display: grid;
		width: 80%;
		margin: auto;
		grid-template-rows: repeat(3, 520px);
		grid-template-columns: repeat(5, 1fr);
		column-gap: 10px;
		row-gap: 30px;
	}

	.desktop__main__span-div {
		display: flex;
		flex-direction: column;
		position: relative;
		background-color: rgb(240, 240, 240);
		border-radius: 4px;
		cursor: pointer;
		box-sizing: border-box;
	}

	.desktop__main__span-div img {
		width: 100%;
		height: 350px;
		object-fit: cover;
		border-radius: 4px;
	}

	.desktop__main_span_div-div {
		position: relative;
		height: 100px;
		padding: 0px 10px;
		box-sizing: border-box;
		color: black;
		font-weight: bold;
		font-family: 'Jost', sans-serif;
	}

	.precio{
		position: relative;
		margin-left: 14px;
		font-weight: bold;
		color: black;
		font-family: ;
		margin-left: 10px;
		font-family: 'Jost', sans-serif;
	}

	.footer__desktop-div {
		justify-content: space-between;
		background-color: rgb(40, 40, 40);
		color: white;
		height: 100px;
		display: flex;
		align-items: center;
		padding: 0px 400px;
		margin-top: 30px;
	}
	.footer-div {
		display: none;
	}

	form {
		display: block;
	}
}
